.banner{
    padding: 14px 45px;

    .banner-tittle{
        color: $color-white;
        font-size: 46px;
    }
    .banner-subtittle{
        font-size: 28px;
    }
    .banner-btn{
        width: 150px;
        padding: 10px 0;
        border-radius: 25px;
        
        @extend %glass;
        color: $color-white;
        transition: 0.5s;
        cursor: pointer;
        &:hover{
            background-color: beige;
        }
    }
}