.nav{
    @extend %glass;
    @include flex(space-between,center,15px);
    padding: 14px 45px;
    color: $color-white;
    & >i{
        font-size: 40px;
    }
    .nav-list{
        @include flex(center,center,15px);
    }
    a{
        text-decoration: none;
        color: $color-white;
    }
    button{
        padding: 10px;
        border-radius: 15px;
        border: none;
        color: $color-white;
    }
}
